.board {
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 10%);
}
.block {
  border: 1px solid gray;
  height: 30px;
}
.outter {
  width: 400px;
  border: 2px solid black;
}