nav ul li {
  display: inline-block;
  padding: 0px;
  padding-right: 40px;
  margin: 0px;
}
nav {
  height: 3em;
  background-color: rgba(204, 207, 209, .2);
  padding: 10px;
  margin-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}
nav ul {
  margin: 0px;
  margin-bottom: 10px;
}
body {
  width: 100%;
  height: 100%;
  margin: 0px;
}

h1 {
  font-family: 'Bubbler One', sans-serif;
  font-size: 30px;
  text-align: left;
  padding-left: 8%;
  margin-top: 0;
  padding-bottom: 5px;
}
h2 {
  font-family: 'Bubbler One', sans-serif;
}
.row {
  /*display: grid;*/
  display: inline-block;
  /*grid-template-columns: repeat(11, 9.09%);*/
  /*grid-template-rows: repeat(11, 9.09%);*/
}
.block {
  border: .01em solid rgba(0, 0, 0, .4);
  background-image: url(water.jpg);
  height: 30px;
  z-index: -1;
  text-align: center;
  width: 35px;
  margin: 0;
  padding: 0;
  float:left;
}
.outter {
  width: 430px;
  /*border: 2px solid rgba(0, 0, 0, .6);*/
/*  border-radius: 5px;*/
  margin-bottom: 5px;
/*  background-image: url(water.jpg);
  z-index: -3;*/
}
.overlay {
  height: 100%;
  z-index: -2;
  background-color: rgba(255, 255, 255, .55);
  margin: 0;
}

.overlay-box {
  height: 100%;
  z-index: 2;
  background-color: rgba(255, 255, 255, .55);
  margin: 0;
  box-shadow: 0px 1px .5px 1px rgba(0, 0, 0, .4);
}
.overlay-box:hover {
  background-color: rgba(0, 0, 0, .3);;
}
.label {
  font-family: 'Arimo', sans-serif;
}
.label .overlay-box {
  background-color: rgba(255, 255, 255, .8);
}
.player-one {
  margin-left: 5%;
}
.player-two {
  margin-left: 5%;
}
.game {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
}
@media (max-width: 966px){
  .block {    
    height: 20px;
    width: 26.2px;
  }
  .overlay-box {
    box-shadow: 1px 3px 1px .5px rgba(0, 0, 0, .6);
  }
  .outter {
    width: 340px;
  }
  h1 {
    font-size: 30px;
    text-align: left;
    padding-left: 8%;
    margin-top: 0;
    padding-bottom: 5px;
  }
  nav {
    height: 50px;
    padding: 10px;
  }
}
@media only screen and (max-device-width: 415px) {
  .block {
    height: 60px;
    width: 76px;
    /*border: 1px solid rgba(0, 0, 0, .4);*/
  }
  .outter {
    width: 860px;
  }
  .label {
    font-size: 40px;
    border: 1px solid black;
  }
  h1 {
    font-size: 50px;
    padding-left: 25%;
    /*padding-bottom: 50px;*/
  }
  nav {
    height: 100px;
  }
}