.place-ships-board h2 {
  font-size: 2vw;
  font-weight: bold;
  margin-bottom: 20px;
}
.place-ships-board {
  width: 50vw;
  display: inline-block;
  margin-left: 5vw;
}
.place-ships-board, #ship-box {
  margin-top: 20px;
}
#ship-box {
  margin-left: 20px;
  width: 40vw;
  display: inline-block;
  vertical-align: top;
  padding-top: 15vh;
}
.ship {
  background-color: gray;
  width: 3vw;
  margin: 1vw;
  border-radius: 5px;
  border: 2px solid black;
  display: inline-block;
}
.active-ship {
  border: 6px solid #a9c1e8;
  box-shadow: 2px 2px 2px gray;
}
.length {
  height: 20px;
}
.dot {
  background-color: black;
  border-radius: 10px;
  width: 10px;
  height: 10px;
  margin: 0 auto;
  margin-top: 10px;
}
#starting-position {
  width: 350px;
  display: inline-block;
}
.test {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 2px;
  grid-template-rows: repeat(10, 1fr);
  /*border: 1px solid black;*/
  float: left;
  margin: 0;
  margin-left: 13px;
}


.test-2 {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: repeat(10 1fr);
  /*border: 1px solid black;*/
  width: 20px;
  float: left;
  margin: 0;
}
#test-block {
  border: 1px solid black;
}
#test-ship-block {
  height: 100%;
  background-color: rgba(117, 117, 117, .95);
  border: 1px solid black;
}
#num-label {
  width: 30px;
  margin-bottom: 2px;
  border: 1px solid black;
}
#letter-label {
  border: 1px solid black;
  font-weight: 900;
}
.fix div{
  /*border: 1px solid black;*/
  /*display: inline-block;*/
}