<!DOCTYPE html>
<html>
  <head>
    <title>Battleship</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Arimo|Bubbler+One" rel="stylesheet">
  </head>

  <body>
  <nav>
    <ul>
      <li><h1>BATTLESHIP</h1></li>
      <li>test</li>
    </ul>
  </nav>
    <%= yield %>
  </body>
</html>
